<div style="text-align: right"><h2>Submitted by: <br /><br /> <b>Omar Shahid</b><br /> </h2></div>

# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [1]:
import numpy as np

2. Create a null vector of size 10

In [2]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

3. Create a vector with values ranging from 10 to 49

In [3]:
arr2 = np.arange(10, 50)

4. Find the shape of previous array in question 3

In [4]:
arr2.shape

(40,)

5. Print the type of the previous array in question 3

In [5]:
arr2.dtype

dtype('int32')

6. Print the numpy version and the configuration

In [6]:
np.__version__, np.show_config()

blas_mkl_info:
  NOT AVAILABLE
blis_info:
  NOT AVAILABLE
openblas_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_info']
    libraries = ['openblas_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
blas_opt_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_info']
    libraries = ['openblas_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
lapack_mkl_info:
  NOT AVAILABLE
openblas_lapack_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_lapack_info']
    libraries = ['openblas_lapack_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
lapack_opt_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_lapack_info']
    libraries = ['openblas_lapack_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]

('1.19.4', None)

7. Print the dimension of the array in question 3

In [7]:
arr2.ndim

1

8. Create a boolean array with all the True values

In [8]:
boolArr = np.full(10, True)
boolArr

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

9. Create a two dimensional array

In [9]:
twoDimArr = np.array([
    [1,2,3,4,5],
    [6,7,8,9,10]
])
twoDimArr

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

10. Create a three dimensional array

In [10]:
threeDimArr = np.array([
    [
        [1,2,3,4],
        [4,5,6,7],
        [8,9,10,11]
    ],
    [
        [12,13,14,15],
        [16,17,18,19],
        [20,21,22,23]
    ],
    [
        [1,2,3,4],
        [4,5,6,7],
        [8,9,10,11]
    ],
])
threeDimArr

array([[[ 1,  2,  3,  4],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]],

       [[ 1,  2,  3,  4],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]]])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [11]:
reverseVector = np.array([1,2,3,4])
reverseVector[::-1] # reverseVector[::-1].copy() for real array, this is just a view

array([4, 3, 2, 1])

12. Create a null vector of size 10 but the fifth value which is 1

In [12]:
(np.arange(10) == 4) * 1

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0])

13. Create a 3x3 identity matrix

In [13]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [14]:
givenArr = np.array([1, 2, 3, 4, 5])
givenArr.astype("float")

array([1., 2., 3., 4., 5.])

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [15]:
arr1 = np.array([[1., 2., 3.], [4., 5., 6.]])  
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]])

arr1*arr2

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [16]:
newArr = np.concatenate([arr1,arr2])
newArr

array([[ 1.,  2.,  3.],
       [ 4.,  5.,  6.],
       [ 0.,  4.,  1.],
       [ 7.,  2., 12.]])

17. Extract all odd numbers from arr with values(0-9)

In [17]:
oddArr = newArr[newArr % 2 == 1]

18. Replace all odd numbers to -1 from previous array

In [18]:
newArr[newArr % 2 == 1] = -1
newArr

array([[-1.,  2., -1.],
       [ 4., -1.,  6.],
       [ 0.,  4., -1.],
       [-1.,  2., 12.]])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [19]:
arr = np.arange(10)
arr[[5,6,7,8]] = 12
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12, 12,  9])

20. Create a 2d array with 1 on the border and 0 inside

In [20]:
border = np.ones((6,6)).astype("int64")
border[1:-1, 1:-1] = 0
border

array([[1, 1, 1, 1, 1, 1],
       [1, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [1, 1, 1, 1, 1, 1]], dtype=int64)

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [21]:
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
arr2d[1,1] = 12
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [22]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0, 0] = 64
arr3d

array([[[64, 64, 64],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [23]:
twoDArr = np.arange(10).reshape(2,5)
firstArr = twoDArr[0].copy()
print(twoDArr)
firstArr

[[0 1 2 3 4]
 [5 6 7 8 9]]

array([0, 1, 2, 3, 4])

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [24]:
arr = np.arange(10).reshape(2,5)
print(arr)
extractedValue = arr[1,1]
extractedValue

[[0 1 2 3 4]
 [5 6 7 8 9]]

6

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [25]:
arr = np.arange(9).reshape(3,3)
temp_row = arr[2]
arr = np.delete(arr, [2], axis=0)
print("Row:", temp_row)
print("Array:\n", arr)

Row: [6 7 8]
Array:
 [[0 1 2]
 [3 4 5]]

26. Create a 10x10 array with random values and find the minimum and maximum values

In [26]:
arr = np.asarray(np.around(np.random.rand(10,10)*14, 2), dtype="float")

print("Array: \n", arr)
print("\nLowest values at Y axis:" , arr.min(axis=1))
print("Lowest values at X axis:" , arr.min(axis=0))

print("\nHighest values at Y axis:" , arr.max(axis=1))
print("Highest values at X axis:" , arr.max(axis=0))

Array:
 [[ 7.09  9.47  0.69 12.6   8.07 11.7   5.74  5.98  7.24  6.81]
 [13.42  5.26  7.33 10.95  6.46  2.9   8.94  0.13  3.71 10.71]
 [ 6.62  3.9   6.24  5.9   9.68 13.72 12.47 13.45 11.51  3.56]
 [13.19  8.32 11.58  2.26  3.57 13.15  4.14  0.93 12.11  7.55]
 [ 0.28 13.97 12.82  7.92  0.58  4.54 12.7   1.97  8.34 10.4 ]
 [ 4.16 13.71  0.59  8.55  3.75 11.06  5.89  9.87  0.16  7.29]
 [ 9.79  4.22  8.78  3.23  0.52 12.57 10.32 13.58 10.76 10.32]
 [ 7.66  6.36 12.04  7.26  6.4   8.81  1.6   9.7   0.91  7.  ]
 [11.41  7.5   3.62 10.75  4.6   2.62  7.47 11.04  8.86  3.37]
 [ 6.88 10.63 11.85  2.17  9.62  0.22 13.57  7.41  4.1  11.33]]

Lowest values at Y axis: [0.69 0.13 3.56 0.93 0.28 0.16 0.52 0.91 2.62 0.22]
Lowest values at X axis: [0.28 3.9  0.59 2.17 0.52 0.22 1.6  0.13 0.16 3.37]

Highest values at Y axis: [12.6  13.42 13.72 13.19 13.97 13.71 13.58 12.04 11.41 13.57]
Highest values at X axis: [13.42 13.97 12.82 12.6   9.68 13.72 13.57 13.58 12.11 11.33]

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [27]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.intersect1d(a,b)

array([2, 4])

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [28]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,9,4,8])
print("Positions of elements of vector A which match with verctor B", np.where(np.in1d(a,b)))
print("Positions of elements of vector B which match with verctor A", np.where(np.in1d(b,a)))

Positions of elements of vector A which match with verctor B (array([1, 3, 5, 7], dtype=int64),)
Positions of elements of vector B which match with verctor A (array([1, 3, 5, 8], dtype=int64),)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [29]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  
data = np.random.randn(7, 4)

data[names != "Will"]

array([[-0.45449641, -1.19288779,  1.07523678,  0.54507597],
       [-0.89623188, -0.6617697 , -0.51131682,  1.60341238],
       [ 1.2638527 ,  0.51466988, -2.72089667, -0.64092895],
       [-1.7294423 , -0.24823309, -0.3210463 , -0.23101829],
       [-0.04278072,  0.32960195, -2.27534291, -0.18616834]])

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [30]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)

data[(names != "Will") & (names != "Joe")]

array([[ 1.1613122 ,  1.49138759, -0.72770958, -1.64049997],
       [-0.28008555,  1.42720157, -1.38819358, -0.36368215]])

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [31]:
rand_arr = np.random.uniform(5,10, size=(5,3))
rand_arr

array([[5.40839751, 6.06026   , 8.46083971],
       [5.27067768, 7.82434549, 9.69905532],
       [7.93384769, 5.73228682, 8.4224424 ],
       [5.2947322 , 5.63448843, 7.30289197],
       [9.67606053, 9.0724795 , 5.7985313 ]])

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [32]:
arr = np.arange(1,17).reshape(2,2,4)
arr

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8]],

       [[ 9, 10, 11, 12],
        [13, 14, 15, 16]]])

33. Swap axes of the array you created in Question 32

In [33]:
arr.swapaxes(0,2)

array([[[ 1,  9],
        [ 5, 13]],

       [[ 2, 10],
        [ 6, 14]],

       [[ 3, 11],
        [ 7, 15]],

       [[ 4, 12],
        [ 8, 16]]])

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [34]:
arr = np.random.rand(10)
arr[np.sqrt(arr) < 0.5] = 0
arr

array([0.29565984, 0.647683  , 0.        , 0.97711337, 0.        ,
       0.60980437, 0.98243252, 0.95737408, 0.58400146, 0.83852865])

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [35]:
arr1 = np.random.rand(13)
arr2 = np.random.rand(13)
# maxInts = np.array([])
np.concatenate(([np.max(arr1)], [np.max(arr2)]))

array([0.79367288, 0.95951002])

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [36]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
np.sort(np.unique(names))

array(['Bob', 'Joe', 'Will'], dtype='<U4')

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [37]:
a = np.array([1,2,3,4,5,])
b = np.array([5,6,7,8,9])

indexWhereDuplicatesExists = np.where(np.in1d(a,b))
newArr = np.delete(a, indexWhereDuplicatesExists)
a = newArr
a

array([1, 2, 3, 4])

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [38]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]]) 
newColumn = np.array([[10,10,10]])

sampleArray[1] = newColumn
sampleArray

array([[34, 43, 73],
       [10, 10, 10],
       [53, 94, 66]])

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [39]:
x = np.array([[1., 2., 3.], [4., 5., 6.]]) 
y = np.array([[6., 23.], [-1, 7], [8, 9]])

print("x . y: \n", x.dot(y))
print("\ny . x\n", y.dot(x))

x . y:
 [[ 28.  64.]
 [ 67. 181.]]

y . x
 [[ 98. 127. 156.]
 [ 27.  33.  39.]
 [ 44.  61.  78.]]

40. Generate a matrix of 20 random values and find its cumulative sum

In [40]:
arr = np.round(np.random.rand(20).reshape(5,4), 3)
print("Array:\n", arr)
print("\nCumulative Sum of A:\n", np.cumsum(arr))

Array:
 [[0.199 0.608 0.498 0.979]
 [0.426 0.527 0.4   0.952]
 [0.483 0.541 0.271 0.686]
 [0.803 0.676 0.481 0.919]
 [0.671 0.433 0.196 0.417]]

Cumulative Sum of A:
 [ 0.199  0.807  1.305  2.284  2.71   3.237  3.637  4.589  5.072  5.613
  5.884  6.57   7.373  8.049  8.53   9.449 10.12  10.553 10.749 11.166]